/* ---------------------reset CSS----------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:active, a:focus, a:hover{
    text-decoration: none;
    cursor: pointer;
}
button {
    box-sizing: content-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: inherit;
    font-size: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: inherit;
    font-size: inherit;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: inherit;
    font-size: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
    color: inherit;
    font-size: inherit;
}

.container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background: #fff;
}
/* ---------------------single CSS----------------------- */
.c-main {color: #2bd3b2;}
.c-ff9800 {color: #ff9800}
.c-green {color: green}
.c-1e90ff {color: #1e90ff}
.c-red {color: red;}
.c-000 {color: #000;}
.c-333 {color: #333;}
.c-666 {color: #666;}
.c-999 {color: #999;}
.c-bbb {color: #bbb;}
.c-fff {color: #fff;}
.bc-main {background: #2bd3b2;}
.bc-ff9800 {background: #ff9800}
.bc-green {background: green}
.bc-1e90ff {background: #1e90ff}
.bc-page {background: #f7fafc;}
.bc-fff {background: #fff}
.b1-ddd {border: 1px solid #ddd}
.bt1-ddd {border-top: 1px solid #ddd}
.br1-eee {border-right: 1px solid #eee}
.bb1-ddd {border-bottom: 1px solid #ddd}
.bl1-ddd {border-left: 1px solid #ddd}
.b-none {border: none}
.bt-none {border-top: none}
.br-none {border-right: none}
.bb-none {border-bottom: none}
.bl-none {border-left: none}
.dp-n {display: none;}
.dp-b {display: block;}
.dp-ib {display: inline-block;}
.brp50 {border-radius: 50%}
.f12 {font-size: 12px}
.f13 {font-size: 13px}
.f14 {font-size: 14px}
.f16 {font-size: 16px}
.f18 {font-size: 18px}
.f20 {font-size: 20px}
.f30 {font-size: 30px}
.fl {float: left;}
.fr {float: right;}
.h40{ height: 40px}
.h100 {height: 100px}
.hidden {overflow: hidden}
.lh20 {line-height: 0.53333rem}
.lh25 {line-height: 25px}
.lh30 {line-height: 0.8rem}
.lh40 {line-height: 40px}
.m20 {margin: 20px;}
.mt0 {margin-top: 0;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mr5 {margin-right: 0.13333rem;}
.mr10 {margin-right: 0.26666rem;}
.mr30 {margin-right: 30px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p20 {padding: 20px}
.p0-20 {padding: 0 20px;}
.p20-10 {padding: 20px 10px;}
.pl10 {padding-left: 0.26666rem;}
.pr10 {padding-right: 0.26666rem;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pa{position: absolute;}
.pr{position: relative;}
.tc{text-align: center;}
.tr{text-align: right;}
.vm{vertical-align: middle}
.w30{width: 0.8rem}
.w40{width: 40px}
.w45{width: 45px}
.w50{width: 1.33333rem}
.w60{width: 1.6rem}
.w70{width: 1.86666rem}
.w100{width: 100px;}
.w{width: 100%}
.z-1{z-index: 1}
.z-2{z-index: 2}
.z-999{z-index: 999}
.z-1000{z-index: 1000}
/* ---------------------common CSS----------------------- */
.mask,
.mask-no{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.mask{
    background-color: rgba(55,55,55,.6);
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    border: none;
}
.btn-clear{
    background: transparent;
    border-radius: 0;
}
.btn-full{
    width: 100%;
}
.clear-float{/*清除浮动*/
    zoom:1;
}
.clear-float:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.row-center{
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.col,
.col-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
.col-2{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex:2;
    flex:2;
}
.col-3{
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
}
.col-4{
    -webkit-box-flex:4;
    -webkit-flex:4;
    -ms-flex:4;
    flex:4;
}
.col-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.col-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.font-hide{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.i-table{
    font-size: 14px;
    color: #333;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.i-tr{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.i-tr:nth-child(2n+1){
    background:#eee;
}
.i-tr:first-child{
    color: #fff;
    background: #39f;
}
.i-td{
    padding: 8px 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.i-td-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}

.row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.list{

}
.item{
    padding: 15px;
    font-size: 14px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.item:first-child{
    border-top: 1px solid #ddd;
}
.item-icon-right > .icon,
.item-icon-right > a > .icon{
    float: right;
}
.item-icon-right > a{
    display: block;
}
/* ---------------------components CSS----------------------- */
.m-select {
    position: relative;
    padding-left: 0.26666rem;
    padding-right: 0.26666rem;
    border: 1px solid #ddd;
    background: #fff;
}
.m-select-content {
    overflow: hidden;
    color: #999;
    font-size: 14px;
}
.m-select-content img {
    position: absolute;
    right: 0.13333rem;
    top: 50%;
    margin-top: -0.18666rem;
    width: 0.4rem;
    height: 0.4rem;
}
.m-select-list-content {
    position: absolute;
    left: 0;
    margin-top: 6px;
    width: 100%;
}
.m-select-list-content:before {
    content: '';
    position: absolute;
    top: -0.12rem;
    right: 0.54666rem;
    border-left: 6px solid rgba(255,255,255,0);
    border-right: 6px solid rgba(255,255,255,0);
    border-bottom: 6px solid #fff;
}
.m-select-list {
    width: 100%;
    color: #666;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
    max-height: 5.33333rem;
    overflow: auto;
}
.m-select-list li{
    padding: 0.13333rem;
    line-height: 0.8rem;
}
.m-select-list::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.m-select-list::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.m-select-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
.m-select-list::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.confirm-position{
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.confirm{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    z-index: 1000;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.confirm-title{
    padding: 14px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #464c5b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #e3e8ee;
}
.confirm-content{
    padding: 20px 16px;
    font-size: 14px;
    line-height: 1.5;
}
.confirm-buttons{
    border-top: 1px solid #e3e8ee;
    padding: 12px 18px;
    text-align: right;
}
.dialog-enter-active {
    animation-duration: .2s;
    animation-name: scaleIn
}
.dialog-leave-active {
    animation-duration: .2s;
    animation-name: scaleOut;
    animation-play-state: running;
    animation-timing-function: ease-in-out
}
.toast-content{
    position: fixed;
    font-size: 12px;
    z-index: 1000;
    width: 100%;
    top: 16px;
    left: 0;
}
.toast-notice{
    position: absolute;
    left: 50%;
    width: auto;
    vertical-align: middle;
}
.toast-message{
    position: relative;
    right: 50%;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    background: #fff;
    display: block;
}
.toast-icon{
    position: relative;
    top: 1px;
    margin-right: 10px;
    color: #39f;
    font-size: 14px;
}
/*transition-toast*/
.toast-enter-active {
    animation-duration: .3s;
    animation-name: moveUpIn
}
.toast-leave-active {
    animation-duration: .3s;
    animation-name: moveUpOut;
    animation-play-state: running;
    animation-timing-function: ease-in-out
}
/*animate*/
@keyframes moveUpIn {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
}
@keyframes moveUpOut {
    0% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
}
@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}
@keyframes scaleIn {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/*transition*/
.fade-enter-active, .fade-leave-active {
    transition: all .3s
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.slide-bottom-enter-active, .slide-bottom-leave-active {
    transition: transform .3s
}
.slide-bottom-enter, .slide-bottom-leave-to{
    transform: translate3d(0, 100%, 0);
}
.slide-left-enter-active, .slide-left-leave-active {
    transition: transform .3s
}
.slide-left-enter, .slide-left-leave-to{
    transform: translate3d(-100%, 0, 0);
}
.slide-right-enter-active, .slide-right-leave-active {
    transition: transform .3s
}
.slide-right-enter, .slide-right-leave-to{
    transform: translate3d(100%, 0, 0);
}
.slide-up-enter-active, .slide-up-leave-active {
    transition: transform .3s
}
.slide-up-enter, .slide-up-leave-to{
    transform: translate3d(0, -100%, 0);
}
/* ---------------------detail CSS----------------------- */
#map-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*app css*/
.app-info-window{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: auto;
    width: 100%;
    background: #fff;
}
.app-info-window > h2{
    padding: 0.26666rem 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 18px;
}
.app-info-window > h2 > span {
    display: inline-block;
    vertical-align: middle;
}
.app-info-window > h2 > span:first-child {
    margin-right: 0.53333rem;
    height: 100%;
    width: 0.10666rem;
    background: #2bd3b2;
}
.app-list {
    font-size: 16px;
    padding-left:  0.32rem;
    padding-right:  0.32rem;
}
.app-item {
    padding-top: 0.26666rem;
    padding-bottom: 0.26666rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-top: 1px solid #eee;
}
.app-item.app-item-auto {
    min-height: 0.8rem;
    height: auto;
}
.app-info-window-buttons{
    height: 1.17333rem;
    line-height: 1.17333rem;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
/*login css*/
.login-logo{
    display: block;
    margin: 0.8rem auto;
    width: 2.13333rem;
    height: 2.13333rem;
    border-radius: 50%;
}
.login-content{
    margin: 0.8rem 0.88rem;
}
.login-input{
    margin-bottom: 0.26666rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    border: 1px solid #ddd;
    background: #fff;
}
.login-input > .icon{
    float: left;
    font-size: 22px;
    width: 1.17333rem;
    text-align: center;
    color: #ccc;
}
.login-input > input{
    float: left;
    font-size: 16px;
    border: none;
}
.login-code-btn{
    width: 3.40rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
}
.login-btn{
    display: block;
    margin-top: 1.17333rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
    border-radius: 1.17333rem;
}
.login-point {
    position: absolute;
    left: 0.8rem;
    top: -0.8rem;
    padding: 0.21333rem 0.44817rem;
    border-radius: 0.10666rem;
    white-space: nowrap;
    font-size: 13px;
    line-height: 0.53333rem;
    color: red;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.login-point:after {
    content: '';
    position: absolute;
    bottom: -0.10666px;
    left: 0.53333rem;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid #fff;
}
.login-point:before {
    content: '';
    position: absolute;
    bottom: -0.12rem;
    left: 0.54666rem;
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid #fff;
}
/*home css*/
#home{
    height: 100%;
    overflow: auto;
}
.home-header{
    position: fixed;
    top: 0.45333rem;
    left: 1.86666rem;
    right: 1.86666rem;
    padding: 0.23333rem 0.4rem;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 1.0666rem;
}
.home-header img{
    float: left;
    padding-right: 0.26666rem;
    width: 0.53333rem;
    height: 0.53333rem;
}
.home-header label {
    display: block;
    overflow: hidden;
}
.home-header input {
    font-size: 16px;
    width: 100%;
    height: 0.55555rem;
    line-height: 0.55555rem;
    border: none;
}
.home-user-btn,
.home-chat-btn,
.home-refresh-btn,
.home-plus-btn,
.home-location-btn,
.home-filter-btn{
    position: fixed;
    z-index: 999;
}
.home-user-btn img,
.home-chat-btn img,
.home-refresh-btn img,
.home-plus-btn img,
.home-location-btn img,
.home-filter-btn img{
    display: inline-block;
    padding: 0.16rem;
    width: 0.82666rem;
    height: 0.82666rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.home-user-btn {
    left: 0.26666rem;
    top: 0.4rem;
}
.home-chat-btn {
    right: 0.26666rem;
    top: 0.4rem;
}
.home-filter-btn {
    left: 0.26666rem;
    top: 2.13333rem;
}
.home-refresh-btn {
    left: 0.26666rem;
    bottom: 0.4rem;
}
.home-plus-btn {
    right: 0.26666rem;
    top: 2.13333rem;
}
.home-location-btn {
    right: 0.26666rem;
    bottom: 0.4rem;
}
.home-select-content {
    position: fixed;
    top: 2.26666rem;
    left: 1.6rem;
    right: 1.6rem;
}
.home-select-content .m-select {
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.home-user-menu{
    position: relative;
    z-index: 1000;
    margin-right: auto;
    width: 80%;
    height: 100%;
    background: #fff;
    overflow: auto;
}
.home-user-menu-header {
    position: relative;
    padding: 1.33333rem 0.32rem;
    height: 2.13333rem;
    background: url("/static/img/user-bg.jpg");
    background-size: cover;
}
.home-user-menu-header > img {
    float: left;
    height: 2.13333rem;
    width: 2.13333rem;
    border-radius: 50%;
}
.home-user-menu-header > div {
    padding-left: 0.28011rem;
    overflow: hidden;
}
.home-user-menu-header > div > p:first-child {
    padding-left: 0.16rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.home-user-menu-header > a {
    position: absolute;
    right: 0.33613rem;
    top: 0.33613rem;
}
.home-user-menu-header > a > img {
    display: inline-block;
    width: 0.86834rem;
    height: 0.86834rem;
}
.home-user-list > li{
    margin: 0 0.13333rem;
    padding: 0.4rem 0;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}
.home-user-list p {
    padding-left: 0.28011rem;
    line-height: 0.89636rem;
    color: #333;
    overflow: hidden;
}
.home-user-list span {
    float: right;
    line-height: 0.89636rem;
    color: #999;
}
.home-user-list img {
    display: inline-block;
    width: 0.86835rem;
    height: 0.86835rem;
    float: right;
}
.home-user-list img:first-child {
    float: left;
}

.home-chat {
    position: relative;
    z-index: 1000;
    margin-left: auto;
    width: 80%;
    height: 100%;
}
.home-chat-list{
}
.home-chat-item{
    padding: 10px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.home-chat-item:first-child{
    border-top: 1px solid #ddd;
}
.home-chat-content{
    padding-left: 10px;
}
.home-chat-item > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.home-chat-item .name{
    font-size: 14px;
}
.home-chat-item .time{
    float: right;
    font-size: 12px;
    color: #999;
}
.home-chat-item .text{
    font-size: 14px;
    color: #999;
}
/*chat css*/
.chat {
    padding-bottom: 50px;
}
.chat-list {
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}
.chat-item{
    margin-top: 20px;
    margin-bottom: 20px;
}
.chat-item img{
    border-radius: 4px;
}
.chat-item .col{
    padding-left: 10px;
    overflow: hidden;
}
.chat-item .item-type .col{
    padding-left: 0;
    padding-right: 10px;
}
.chat-item .name{
    font-size: 12px;
    color: #666;
}
.chat-item .text{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background: #fff;
    border-radius: 4px;
}
.chat-item .text:before{
    content: '';
    position: absolute;
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-right: 9px solid #FFF;
    border-left: none;
}
.chat-item .item-type .text{
    float: right;
    color: #fff;
    background: #25A5F7;
}
.chat-item .item-type .text:before{
    left: inherit;
    right: -8px;
    border-bottom:6px solid rgba(0, 0, 0, 0);
    border-top:6px solid rgba(0, 0, 0, 0);
    border-left: 9px solid #25A5F7;
    border-right: none;
}
.chat-input{
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: #fff;
}
.chat-input label{
    display: block;
    margin: 5px 10px;
    border-radius: 4px;
}
.chat-input input{
    text-indent: 5px;
    width: 100%;
    line-height: 30px;
    border: none;
    background: #ddd;
}
/*addActivity css*/
.aa-header{
    position: relative;
    height: 200px;
    background: #fff;
}
.aa-header .aa-slide{
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.aa-header img{
    display: inline-block;
    width: 100%;
    height: 200px;
}
.aa-addImg-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
    border-radius: 4px;
    background: #2bd3b2;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all .4s;
    z-index: 1;
}
.aa-addImg-btn.active {
    left: 40px;
    top: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    opacity: 0.8;
}
.aa-deleteImg-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: #ff0000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all .4s;
    z-index: 1;
}
.aa-location-btn {
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
    border-radius: 4px;
    background: #ddd;
}
.aa-location-btn .icon {
    font-size: 16px;
}
.aa-address-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border-left: 1px solid #ddd;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
.aa-address-btn .icon {
    font-size: 20px;
}
.aa-item {
    padding: 5px 10px;
    font-size: 15px;
}
.aa-item input {
    line-height: 30px;
    height: 30px;
    border: none;
}
.aa-item textarea {
    resize: none;
    min-height: 50px;
    padding: 7px 0;
    border: none;
}
.aa-tag{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 15px;
    background: #ddd;
    font-size: 14px;
}
.aa-address-page {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    max-height: 40%;
    overflow: auto;
    font-size: 14px;
    background: #fff;
    z-index: 1000;
}

/*personActivity css*/
.pa-input-search{
    display: block;
    position: relative;
    padding: 0 10px;
    background: #fff;
    border-radius: 13px;
}
.pa-input-search input{
    height: 30px;
    width: 100%;
    line-height: 30px;
    border: none;
}
.pa-input-search .ion-search{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    color: #999;
}
/*personInfo css*/
.pi-header {
    position: relative;
    padding: 1.33333rem 0.32rem;
    height: 2.13333rem;
    text-align: center;
    background: url("/static/img/user-bg.jpg");
    background-size: cover;
}
.pi-header > img {
    display: inline-block;
    width: 2.13333rem;
    height: 2.13333rem;
    border-radius: 50%;
}
.pi-list {
    margin-left: 0.32rem;
    margin-right: 0.32rem;
    font-size: 16px;
}
.pi-item {
    padding-top: 0.26666rem;
    padding-bottom: 0.26666rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #eee;
}
.pi-item.pi-item-auto {
    min-height: 0.8rem;
    height: auto;
}
.pi-item.pi-item-2 {
    height: 1.6rem;
}
.pi-item > span:first-child {
    padding-right: 0.26666rem;
}
.pi-item input {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    border: none;
}
.pi-item textarea {
    width: 100%;
    height: 1.6rem;
    line-height: 0.8rem;
    border: none;
    resize: none;
}
.pi-item textarea::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.pi-item textarea::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pi-item textarea::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
.pi-item textarea::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pi-btn {
    display: block;
    margin-top: 1.17333rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
    border-radius: 1.17333rem;
}
.pi-point {
    position: absolute;
    right: 0;
    top: -1.06666rem;
    padding: 0.21333rem 0.44817rem;
    border-radius: 0.10666rem;
    white-space: nowrap;
    font-size: 13px;
    line-height: 0.53333rem;
    color: red;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.pi-point:after {
    content: '';
    position: absolute;
    bottom: -0.10666px;
    right: 0.53333rem;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid #fff;
}
.pi-point:before {
    content: '';
    position: absolute;
    bottom: -0.12rem;
    right: 0.54666rem;
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid #fff;
}

.pi-tags-header {
    padding-bottom: 0.53333rem;
    padding-top: 0.13333rem;
    line-height: 0.66666rem;
    border-bottom: 1px solid #eee;
}
.pi-tags-header > p > a {
    margin-right: 0.26666rem;
    font-size: 30px;
    color: #999;
}
.pi-tag {
    display: inline-block;
    vertical-align: middle;
    margin: 0.26666rem;
    padding: 0.13333rem 0.26666rem;
    border: 1px solid;
    border-radius: 0.10666rem;
    font-size: 14px;
}
/*activityDetail css*/
.ad-content {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 45px;
    overflow: auto;
}
.ad-title{
    padding: 10px;
}
.ad-title-tags{
    margin-bottom: 5px;
}
.ad-title-tags > span{
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px 3px;
    background: #2bd3b2;
    font-size: 12px;
    color: #fff;
}
.ad-title-left{
    height: 50px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    font-size: 18px;
    line-height: 25px;
}
.ad-title-right{
    display: block;
    width: 80px;
    text-align: center;
    font-size: 13px;
    color: #999;
}
.ad-title-right > .icon{
    font-size: 24px;
    color: red;
}
.ad-list{  }
.ad-item{
    padding: 15px 10px;
    line-height: 20px;
    font-size: 15px;
    border-top: 1px solid #ddd;
    background: #fff;
}
.ad-item > .icon{
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 16px;
}
.ad-item > span:last-child{
    float: right;
    color: #999;
}
.ad-item > p{
    padding-top: 5px;
    padding-left: 24px;
    color: #999;
}
.ad-confirm-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
}
.pa-item{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 140px;
    height: 80px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.pa-item > img{
    position: absolute;
    left: 10px;
    top: 10px;
}
/*---------------------map CSS-----------------------*/
.amap-logo{
    display: none !important;
}
.amap-copyright{
    display: none !important;
}
.amap-marker-label {
    font-size: 13px;
    border: 1px solid #2bd3b2;
    background: #fff;
    border-radius: 10px 0 0 0;
    color: #2bd3b2;
}

.amap-ui-control-theme-m{
    right: 0.32rem !important;
}
.amap-ui-control-theme-m .amap-ui-control-zoom{
    width: 0.85333rem !important;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.42666rem;
}
.amap-ui-control-theme-m .amap-ui-control-zoom > a{
    width: 0.85333rem !important;
    font-size: 20px !important;
    color: #2bd3b2 !important;
    height: 1.17333rem !important;
    line-height: 1.17333rem !important;
}
.amap-ui-control-theme-m .amap-ui-control-zoom > a:first-child {
    border-bottom: 1px solid #ddd;
}
.amap-sug-result{
    z-index: 1000;
}
/*---------------------outer-components CSS-----------------------*/
.swiper-pagination-bullet-active{
    background: #2bd3b2 !important;
}
.pull-down-header {
    background-color: inherit !important;
    border-bottom: 1px solid #ddd;
}
.pull-down-content--icon.pull-down-refresh {
    background: url("/static/img/hourglass.gif") !important;
    background-size: 20px 20px !important;
}
.pull-down-content{
    color: #666 !important;
}