/* ---------------------reset CSS----------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:active, a:focus, a:hover{
    text-decoration: none;
    cursor: pointer;
}
button {
    box-sizing: content-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: inherit;
    font-size: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: inherit;
    font-size: inherit;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: inherit;
    font-size: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: inherit;
    font-size: inherit;
}
html {
    font-size: 37.5px;
}
html, body {
    overflow: hidden;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    background: #fff;
    -webkit-overflow-scrolling: touch;
}
/* ---------------------single CSS----------------------- */
.c-main {color: #2bd3b2;}
.c-ff9800 {color: #ff9800}
.c-green {color: green}
.c-1e90ff {color: #1e90ff}
.c-red {color: red;}
.c-000 {color: #000;}
.c-333 {color: #333;}
.c-666 {color: #666;}
.c-999 {color: #999;}
.c-bbb {color: #bbb;}
.c-b3b3b3 {color: #b3b3b3;}
.c-fff {color: #fff;}
.bc-main {background: #2bd3b2;}
.bc-E9B4FF {background: #E9B4FF;}
.bc-ff9800 {background: #ff9800}
.bc-green {background: green}
.bc-1e90ff {background: #1e90ff;}
.bc-page {background: #fafafa;}
.bc-f2f2f2 {background: #f2f2f2;}
.bc-999 {background: #999}
.bc-bbb {background: #bbb;}
.bc-eee {background: #eee}
.bc-fff {background: #fff;}
.b1-ddd {border: 1px solid #ddd}
.b1-eee {border: 1px solid #f2f2f2}
.bt1-eee {border-top: 1px solid #f2f2f2}
.br1-eee {border-right: 1px solid #f2f2f2}
.bb1-eee {border-bottom: 1px solid #f2f2f2}
.bl1-eee {border-left: 1px solid #f2f2f2}
.b-none {border: none}
.bt-none {border-top: none}
.br-none {border-right: none}
.bb-none {border-bottom: none}
.bl-none {border-left: none}
.dp-n {display: none;}
.dp-b {display: block;}
.dp-ib {display: inline-block;}
.brp50 {border-radius: 50%;}
.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.fb {font-weight: bold;}
.fl {float: left;}
.fr {float: right;}
.h {height: 100%;}
.h30 {height: 0.8rem;}
.hidden {overflow: hidden;}
.lh20 {line-height: 0.533333rem;}
.lh25 {line-height: 0.666666rem;}
.lh30 {line-height: 0.8rem;}
.lh44 {line-height: 1.173333rem;}
.m10 {margin: 0.2666666666rem;}
.m20 {margin: 0.53333333333rem;}
.mt0 {margin-top: 0;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 0.2666666666rem;}
.mt20 {margin-top: 0.53333333333rem;}
.mt30 {margin-top: 0.8rem;}
.mr5 {margin-right: 0.133333rem;}
.mr10 {margin-right: 0.266666rem;}
.mr30 {margin-right:  0.8rem;}
.mb10 {margin-bottom: 0.266666rem;}
.mb30 {margin-bottom: 0.8rem;}
.ml10 {margin-left: 0.266666rem;}
.p5 {padding: 5px;}
.p10 {padding: 0.2666666rem;}
.p20 {padding: 0.53333333333rem;}
.pl5 {padding-left: 0.133333rem;}
.pl10 {padding-left: 0.266666rem;}
.pr10 {padding-right: 0.266666rem;}
.pt10 {padding-top: 10px;}
.pb10 {padding-bottom: 0.266666rem;}
.pb15 {padding-bottom: 0.4rem;}
.pt20 {padding-top: 20px;}
.p10-20 {padding: 0.2666666rem 0.53333333333rem;}
.p15-12 {padding: 0.4rem 0.32rem;}
.pa {position: absolute;}
.pr {position: relative;}
.tc {text-align: center;}
.tr {text-align: right;}
.vm {vertical-align: middle;}
.w30 {width: 0.8rem;}
.w40 {width: 40px;}
.w45 {width: 45px;}
.w50 {width: 1.333333rem;}
.w60 {width: 1.6rem;}
.w70 {width: 1.866666rem;}
.w100 {width: 100px;}
.w {width: 100%;}
.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-999 {z-index: 999;}
.z-1000 {z-index: 1000;}
/* ---------------------common CSS----------------------- */
.mask,
.mask-no {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.mask {
    background-color: rgba(55,55,55,.6);
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    border: none;
}
.btn-clear {
    background: transparent;
    border-radius: 0;
}
.btn-full {
    width: 100%;
}
.clear-float {/*清除浮动*/
    zoom:1;
}
.clear-float:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.row {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.row-direction-column {
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction:row;
    flex-direction: column;
}
.row-center {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.col,
.col-1 {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
.col-2 {
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex:2;
    flex:2;
}
.col-3 {
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
}
.col-4 {
    -webkit-box-flex:4;
    -webkit-flex:4;
    -ms-flex:4;
    flex:4;
}
.col-5 {
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.col-5 {
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.font-hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
/* ---------------------components CSS----------------------- */
.m-select {
    position: relative;
    padding-left: 0.26666rem;
    padding-right: 0.26666rem;
    background: #fff;
}
.m-select-content {
    overflow: hidden;
    color: #999;
    font-size: 14px;
}
.m-select-content img {
    position: absolute;
    right: 0.13333rem;
    top: 50%;
    margin-top: -0.1333333333333rem;
    width: 0.2666666666rem;
    height: 0.2666666666rem;
}
.m-select-list-content {
    position: absolute;
    left: 0;
    margin-top: 6px;
    width: 100%;
}
.m-select-list-content:before {
    content: '';
    position: absolute;
    top: -0.12rem;
    right: 50%;
    margin-right: -3px;
    border-left: 6px solid rgba(255,255,255,0);
    border-right: 6px solid rgba(255,255,255,0);
    border-bottom: 6px solid #fff;
}
.m-select-list {
    width: 100%;
    color: #666;
    font-size: 14px;
    background: #fff;
    border: 1px solid #f2f2f2;
    max-height: 5.33333rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
}
.m-select-list li {
    padding: 0.18666666666666668rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.m-select-list li:last-child {
    border-bottom: none;
}
.m-select-list::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.m-select-list::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.m-select-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
.m-select-list::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.confirm-position {
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.confirm {
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    z-index: 1000;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.confirm-title {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 20px;
    color: #464c5b;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #f2f2f2;
}
.confirm-content {
    padding: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
.confirm-buttons {
    border-top: 1px solid #f2f2f2;
    padding: 12px 18px;
    text-align: right;
}
.dialog-enter-active {
    animation-duration: .2s;
    animation-name: scaleIn
}
.dialog-leave-active {
    animation-duration: .2s;
    animation-name: scaleOut;
    animation-play-state: running;
    animation-timing-function: ease-in-out
}
.toast-content {
    position: fixed;
    font-size: 14px;
    z-index: 1000;
    width: 100%;
    top: 16px;
    left: 0;
}
.toast-notice {
    position: absolute;
    left: 50%;
    width: auto;
    vertical-align: middle;
}
.toast-message {
    position: relative;
    right: 50%;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    background: #fff;
    display: block;
}
/*transition-toast*/
.toast-enter-active {
    animation-duration: .3s;
    animation-name: moveUpIn
}
.toast-leave-active {
    animation-duration: .3s;
    animation-name: moveUpOut;
    animation-play-state: running;
    animation-timing-function: ease-in-out
}
/*animate*/
@keyframes moveUpIn {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
}
@keyframes moveUpOut {
    0% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
}
@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}
@keyframes scaleIn {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/*transition*/
.fade-enter-active, .fade-leave-active {
    transition: all .3s
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.slide-bottom-enter-active, .slide-bottom-leave-active {
    transition: transform .3s
}
.slide-bottom-enter, .slide-bottom-leave-to{
    transform: translate3d(0, 100%, 0);
}
.slide-left-enter-active, .slide-left-leave-active {
    transition: transform .3s
}
.slide-left-enter, .slide-left-leave-to{
    transform: translate3d(-100%, 0, 0);
}
.slide-right-enter-active, .slide-right-leave-active {
    transition: transform .3s
}
.slide-right-enter, .slide-right-leave-to{
    transform: translate3d(100%, 0, 0);
}
.slide-up-enter-active, .slide-up-leave-active {
    transition: transform .3s
}
.slide-up-enter, .slide-up-leave-to{
    transform: translate3d(0, -100%, 0);
}
/* ---------------------detail CSS----------------------- */
#map-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*app css*/
#app {
    overflow: hidden;
}
.app-info-window {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background: #fff;
}
.app-info-window > h2 {
    padding: 0.4rem 0.32rem;
    height: 0.5333333333333333rem;
    line-height: 0.5333333333333333rem;
    font-size: 18px;
    border-bottom: 1px solid #f2f2f2;
}
.app-info-window > h2 > span {
    display: block;
    text-indent: 0.53333333333333rem;
    border-left: 0.10666666666rem solid #2bd3b2;
    border-radius: 0.053333333333rem;
}
.app-list {
    font-size: 16px;
    padding-left:  0.32rem;
    padding-right:  0.32rem;
}
.app-item {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    height: 0.5333333333333333rem;
    line-height: 0.5333333333333333rem;
    /*border-top: 1px solid #f2f2f2;*/
}
.app-item.app-item-auto {
    min-height: 0.5333333333333333rem;
    height: auto;
}
.app-info-window-buttons {
    height: 1.17333rem;
    line-height: 1.17333rem;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
/*login css*/
.login-logo {
    display: block;
    margin: 0.8rem auto;
    width: 2.13333rem;
    height: 2.13333rem;
    border-radius: 50%;
}
.login-content {
    margin: 0.8rem 0.88rem;
}
.login-input {
    margin-bottom: 0.26666rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    border: 1px solid #f2f2f2;
    background: #fff;
}
.login-input > img {
    display: inline-block;
    padding: 0.1866666rem;
    height: 0.8rem;
    width: 0.8rem;
}
.login-input > input {
    float: left;
    font-size: 16px;
    border: none;
}
.login-code-btn {
    float: right;
    width: 3.40rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
}
.login-btn {
    display: block;
    margin-top: 1.17333rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
    border-radius: 1.17333rem;
}
.login-point {
    position: absolute;
    left: 0.8rem;
    top: -0.8rem;
    padding: 0.21333rem 0.44817rem;
    border-radius: 0.10666rem;
    white-space: nowrap;
    font-size: 13px;
    line-height: 0.53333rem;
    color: red;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.login-point:after {
    content: '';
    position: absolute;
    bottom: -0.10666px;
    left: 0.53333rem;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid #fff;
}
.login-point:before {
    content: '';
    position: absolute;
    bottom: -0.12rem;
    left: 0.54666rem;
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid #fff;
}
/*home css*/
#home {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.home-header {
    position: fixed;
    top: 0.5333333333333333rem;
    left: 1.866666rem;
    right: 1.866666rem;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 1.0666rem;
}
.home-header > div {
    position: absolute;
    font-size: 14px;
    width: 100%;
    line-height: 30px;
    z-index: 0;
}
.home-header > div img {
    width: 0.48rem;
    height: 0.48rem;
}
.home-header > div span,
.home-header > div img {
    display: inline-block;
    vertical-align: middle;
}
.home-header > form {
    position: relative;
    padding: 0.18666666rem 0.4rem 0.13333333333333333rem;
}
.home-header label {
    display: block;
    overflow: hidden;
}
.home-header input {
    font-size: 14px;
    width: 100%;
    height: 0.533333rem;
    line-height: 0.533333rem;
    background: transparent;
    border: none;
}
.home-user-btn,
.home-chat-btn,
.home-refresh-btn,
.home-plus-btn,
.home-location-btn,
.home-filter-btn {
    position: fixed;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 999;
}
.home-user-btn img,
.home-chat-btn img,
.home-refresh-btn img,
.home-plus-btn img,
.home-location-btn img,
.home-filter-btn img {
    display: block;
    padding: 0.24rem;
    width: 0.693333rem;
    height: 0.693333rem;
}
.home-filter-btn.active {
    border: 0.0533333333333rem solid #2bd3b2;
}
.home-filter-btn.active img {
    padding: 0.18666666666666668rem;
}
.home-user-btn {
    left: 0.26666rem;
    top: 0.4rem;
}
.home-chat-btn {
    right: 0.26666rem;
    top: 0.4rem;
}
.home-filter-btn {
    left: 0.26666rem;
    top: 1.8666666666666667rem;
}
.home-refresh-btn {
    left: 0.26666rem;
    bottom: 0.4rem;
}
.home-plus-btn {
    right: 0.26666rem;
    top: 1.8666666666666667rem;
}
.home-location-btn {
    right: 0.26666rem;
    bottom: 0.4rem;
}
.home-select-content {
    position: fixed;
    top: 2.026666666666667rem;
    left: 1.6rem;
    right: 1.6rem;
}
.home-select-content .m-select {
    line-height: 0.8266666666666667rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.home-user-menu {
    position: relative;
    z-index: 1000;
    margin-right: auto;
    width: 80%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
.home-user-menu-header {
    position: relative;
    padding: 1.33333rem 0.32rem;
    height: 2.13333rem;
    background: url("/static/img/user-bg.jpg");
    background-size: cover;
}
.home-user-menu-header > img {
    float: left;
    height: 2.13333rem;
    width: 2.13333rem;
    border-radius: 50%;
}
.home-user-menu-header > div {
    padding-left: 0.28011rem;
    overflow: hidden;
}
.home-user-menu-header > div > p:first-child {
    padding-left: 0.16rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.home-user-menu-header > a {
    position: absolute;
    right: 0.33613rem;
    top: 0.33613rem;
}
.home-user-menu-header > a > img {
    display: block;
    width: 0.5866666666666667rem;
    height: 0.5866666666666667rem;
}
.home-user-item {
    margin: 0 0.1333333333rem;
    padding: 0.3466666666666667rem 0;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
}
.home-user-item p {
    padding-left: 0.28011rem;
    line-height: 0.89636rem;
    color: #333;
    overflow: hidden;
}
.home-user-item span {
    float: right;
    line-height: 0.89636rem;
    color: #999;
}
.home-user-item img {
    float: right;
    margin-top: 0.16rem;
    width: 0.5866666666666667rem;
    height: 0.5866666666666667rem;
}
.home-user-item img:first-child {
    float: left;
    margin-top: 0;
    width: 0.86835rem;
    height: 0.86835rem;
}
.home-chat {
    position: relative;
    z-index: 1000;
    margin-left: auto;
    width: 80%;
    height: 100%;
}
.home-chat-list {
}
.home-chat-item {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.home-chat-item-content {
    display: block;
    position: relative;
    padding: 0.266666666666666rem 0.266666666666666rem 0.266666666666666rem 1.8666666666666667rem;
    line-height: 0.533333333333333rem;
    z-index: 2;
    background: #fff;
}
.home-chat-item img{
    position: absolute;
    left: 0.266666666666rem;
    top: 0.266666666666rem;
    width: 1.333333333rem;
    height: 1.333333333rem;
}
.item-options {
    position: absolute;
    top: 0;
    right: 0;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    height: 100%;
    width: 1.86666666rem;
    text-align: center;
    background: #F44336;
    font-size: 16px;
    color: #fff;
    z-index: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.home-chat-item:first-child {
    border-top: 1px solid #f2f2f2;
}
.home-chat-item .name {
    color: #000;
    font-size: 16px;
}
.home-chat-item .time {
    float: right;
    font-size: 14px;
    color: #999;
}
.home-chat-item .text {
    padding-top: 0.25rem;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}
.home-chat-item .point,
.home-chat-btn .point{
    float: right;
    margin-top: 0.4rem;
    width: 0.266666666666666rem;
    height: 0.266666666666666rem;
    border-radius: 50%;
    background: red;
}
.home-chat-btn .point {
    position: absolute;
    right: 0.2rem;
    top: -0.1rem;
}
/*chat css*/
.chat {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.0666666666666667rem;
}
.chat-list {
    padding-left: 0.2666666rem;
    padding-right: 0.2666666rem;
}
.chat-loading {
    font-size: 16px;
    text-align: center;
    padding: 0.26666666666666rem;
    border-bottom: 1px solid #f2f2f2;
}
.chat-loading img {
    display: inline-block;
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
}
.chat-loading span {
    display: inline-block;
    vertical-align: middle;
}
.chat-item {
    margin-top: 0.5333333rem;
    margin-bottom: 0.5333333rem;
    color: #666;
}
.chat-item img {
    width: 1.0666666rem;
    height: 1.0666666rem;
    border-radius: 4px;
}
.chat-item .col {
    padding-left: 0.2666666rem;
    overflow: hidden;
}
.chat-item .item-type .col {
    padding-left: 0;
    padding-right: 0.2666666rem;
}
.chat-item .name {
    font-size: 13px;
}
.chat-item .text {
    position: relative;
    display: inline-block;
    margin-top: 0.1333333rem;
    padding: 0.2666666rem;
    line-height: 0.5333333333333333rem;
    font-size: 15px;
    color: #333;
    background: #fff;
    border-radius: 4px;
}
.chat-item .text:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-right: 9px solid #FFF;
    border-left: none;
}
.chat-item .item-type .text {
    float: right;
    color: #fff;
    background: #2bd3b2;
    word-break: break-all;
}
.chat-item .item-type .text:before {
    left: inherit;
    right: -8px;
    border-bottom:6px solid rgba(0, 0, 0, 0);
    border-top:6px solid rgba(0, 0, 0, 0);
    border-left: 9px solid #2bd3b2;
    border-right: none;
}
.chat-input {
    position: absolute;
    bottom: 0.266666666666rem;
    left: 0.2666666666rem;
    right: 0.2666666666rem;
    z-index: 1;
}
.chat-input label {
    display: block;
    margin-right: 1.866666666666666rem;
    border-radius: 4px;
}
.chat-input input {
    font-size: 14px;
    text-indent: 0.1333333rem;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
}
.chat-input a{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0.8266666666666667rem;
    background: #2bd3b2;
    width: 1.6rem;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
/*addActivity css*/
.aa-header {
    position: relative;
    height: 4.8rem;
}
.aa-header .aa-slide {
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
}
.aa-header img {
    display: block;
    width: 100%;
    height: 4.8rem;
}
.aa-add-btn > img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: -0.8rem;
    margin-top: -0.8rem;
    text-align: center;
    transition: all .4s;
    z-index: 1;
}
.aa-add-btn.active > img {
    left: 1.06666rem;
    top: 1.06666rem;
    padding: 0.13333rem;
    width: 0.53333rem;
    height: 0.53333rem;
    background: #fff;
    opacity: 0.9;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.aa-delete-btn > img {
    position: absolute;
    right: 0.26666rem;
    top: 0.26666rem;
    padding: 0.13333rem;
    width: 0.53333rem;
    height: 0.53333rem;
    background: #fff;
    opacity: 0.9;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all .4s;
    z-index: 1;
}
.aa-list {
    font-size: 16px;
}
.aa-item {
    position: relative;
    padding: 0.26666rem 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.aa-item .point {
    position: absolute;
    right: 0.8rem;
    top: -0.8rem;
    padding: 0.21333rem 0.44817rem;
    border-radius: 0.10666rem;
    white-space: nowrap;
    font-size: 13px;
    line-height: 0.53333rem;
    color: red;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.aa-item .point:after {
    content: '';
    position: absolute;
    bottom: -0.10666px;
    right: 0.54666rem;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid #fff;
}
.aa-item .point:before {
    content: '';
    position: absolute;
    bottom: -0.12rem;
    right: 0.53333rem;
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid #fff;
}
.aa-item > span:first-child {
    padding-right: 0.26666rem;
}
.aa-item input {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    border: none;
    overflow-x: auto;
}
.aa-item img {
    display: inline-block;
    margin-top: -0.05333333333333334rem;
    padding-left: 0.26666666666666rem;
    width: 0.21333333333333335rem;
    height: 0.18666666666666668rem;
    vertical-align: middle;
}
.aa-address-btn > img {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.13333rem 0.13333rem 0.13333rem 0.32rem;
    width: 0.53333rem;
    height: 0.53333rem;
    border-left: 1px solid #f2f2f2;
}
.aa-location-btn > img {
    display: block;
    padding: 0.13333rem;
    width: 0.53333rem;
    height: 0.53333rem;
    border: 1px solid #2bd3b2;
    border-radius: 4px;
}
.aa-tag {
    display: inline-block;
    margin: 0.26666rem 0.533333rem 0;
    width: 2.26666rem;
    height: 0.85333rem;
    line-height: 0.85333rem;
    border-radius: 0.42666rem;
    text-align: center;
    color: #999;
    background: #eee;
    font-size: 14px;
}
.aa-tag.active {
    color: #fff;
    background: #2bd3b2;
}
.aa-textarea {
    padding: 0.26666rem 0.32rem 0.6666666666666666rem;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.aa-textarea > textarea {
    display: block;
    width: 100%;
    height: 3.73333rem;
    border: none;
    resize: none;
    color: #999;
}
.aa-submit-btn {
    display: block;
    margin: 0.8rem auto 0.53333rem;
    width: 90%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
    border-radius: 1.17333rem;
}
.aa-address-page {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 0.53333rem;
    width: 100%;
    max-height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    background: #fff;
    z-index: 1000;
}
.aa-address-page > header {
    height: 1.17333rem;
    line-height: 1.17333rem;
    background: #2bd3b2;
}
.aa-address-page > p {
    margin: 0.26666rem;
}
/*personInfo css*/
.pi-header {
    position: relative;
    padding: 1.06666rem 0.32rem;
    height: 2.66666rem;
    text-align: center;
    background: url("/static/img/user-bg.jpg");
    background-size: cover;
}
.pi-header > img {
    display: inline-block;
    width: 2.66666rem;
    height: 2.66666rem;
    border-radius: 50%;
}
.pi-list {
    margin-left: 0.32rem;
    margin-right: 0.32rem;
    font-size: 16px;
}
.pi-item {
    padding-top: 0.26666rem;
    padding-bottom: 0.26666rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #f2f2f2;
}
.pi-item.pi-item-auto {
    min-height: 0.8rem;
    height: auto;
}
.pi-item.pi-item-2 {
    height: 1.6rem;
}
.pi-item > span:first-child {
    padding-right: 0.26666rem;
}
.pi-item input {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    border: none;
}
.pi-item textarea {
    width: 100%;
    height: 1.6rem;
    line-height: 0.8rem;
    border: none;
    resize: none;
}
.pi-item textarea::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.pi-item textarea::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pi-item textarea::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
.pi-item textarea::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pi-btn {
    display: block;
    margin: 1.17333rem auto 0.53333rem;
    width: 90%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #94e5d6;
    border: 1px solid #94e5d6;
    border-radius: 1.17333rem;
}
.pi-btn.active{
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
}
.pi-point {
    position: absolute;
    right: 0;
    top: -1.06666rem;
    padding: 0.21333rem 0.44817rem;
    border-radius: 0.10666rem;
    white-space: nowrap;
    font-size: 13px;
    line-height: 0.53333rem;
    color: red;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.pi-point:after {
    content: '';
    position: absolute;
    bottom: -0.10666px;
    right: 0.53333rem;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid #fff;
}
.pi-point:before {
    content: '';
    position: absolute;
    bottom: -0.12rem;
    right: 0.54666rem;
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid #fff;
}
.pi-tag {
    display: inline-block;
    vertical-align: middle;
    margin: 0.26666rem;
    padding: 0.13333rem 0.26666rem;
    border: 1px solid;
    border-radius: 0.3333333333333333rem;
    font-size: 14px;
}
.pi-page-header {
    padding: 0.7333333333333333rem 0.26666666666666666rem 0.7333333333333333rem 0.5333333333333333rem;
}
.pi-page-header > .fr {
    padding: 11px 15px 13px;
    background: #2bd3b2;
    color: #fff;
    border-radius: 20px;
}
.pi-page-header > .fr span {
    display: inline-block;
    vertical-align: middle;
}
.pi-page-header > .fr img {
    display: inline-block;
    vertical-align: middle;
    width: 0.5466666666666666rem;
    height: 0.48rem;
}
/*activityDetail css*/
.ad-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1.1733333rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.ad-content.active {
    bottom: 0;
}
.ad-foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.1733333rem;
    line-height: 1.1733333rem;
    font-size: 16px;
    text-align: center;
}
.ad-header{
    position: relative;
    height: 4.8rem;
}
.ad-header .aa-slide{
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
}
.ad-header img {
    display: inline-block;
    width: 100%;
    height: 4.8rem;
}
.ad-title {
    padding: 0.4rem 0.32rem;
    background: #fff;
}
.ad-title + .ad-title {
    padding-top: 0;
}
.ad-title + .ad-title p {
    margin-left: 0.426666rem;
}
.ad-title-left {
    overflow: hidden;
}
.ad-title-left h2 {
    padding-left: 0.32rem;
    line-height: 0.533333rem;
    font-size: 16px;
    font-weight: bold;
}
.ad-title-borer {
    float: left;
    width: 0.1066666666rem;
    height: 0.533333333rem;
    border-radius: 0.053333333rem;
    background: #2bd3b2;
}
.ad-title-tags {
    margin-left: 0.426666rem;
    margin-top: 0.4rem;
}
.ad-title-right {
    width: 2.133333rem;
    text-align: center;
    color: #999;
    border-left: 1px solid #f2f2f2;
}
.ad-title-right img {
    width: 0.8rem;
    height: 0.8rem;
}
.ad-title-right p {
    font-size: 14px;
}
.ad-item {
    padding: 0.4rem 0.32rem;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.ad-item img {
    display: inline-block;
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
}
.ad-comment-item {
    padding: 0.4rem 0.32rem;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.ad-comment-item img {
    display: inline-block;
    vertical-align: middle;
    width: 1.0666666666666667rem;
    height: 1.0666666666666667rem;
    border-radius: 50%;
}
.ad-comment-item .name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1333333333333rem;
}
.ad-comment-item .time {
    float: right;
    color: #999;
    line-height: 1.0666666666666667rem;
}
.ad-comment-item p {
    margin-top: 0.26666666666666rem;
    line-height: 0.5333333333333333rem;
}
.ad-confirm-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
}
/*person activity css*/
.pa-tabs {
    height: 1.173333rem;
    line-height: 1.173333rem;
    text-align: center;
    color: #999;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.pa-tabs span {
    padding: 0.426666rem 0.4rem;
}
.pa-tabs .active {
    padding-bottom: 0.346666rem;
    color: #2bd3b2;
    border-bottom: 0.08rem solid #2bd3b2;
}
.pa-search {
    margin: 0.26666rem 0.32rem;
    line-height: 0.8rem;
    border-radius: 0.4rem;
    background: #f2f2f2;
}
.pa-search img {
    float: left;
    padding-top: 0.13333rem;
    padding-left: 0.26666rem;
    padding-right: 0.26666rem;
    width: 0.53333rem;
    height: 0.53333rem;
}
.pa-search label {
    display: block;
    overflow: hidden;
}
.pa-search input {
    font-size: 14px;
    width: 100%;
    height: 0.55555rem;
    line-height: 0.55555rem;
    border: none;
    background: transparent;
}
.pa-list {
    position: absolute;
    top: 1.3333333333333333rem;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.pa-list.has-tabs {
    top: 2.533333333333333rem;
}
.pa-list li{
    margin-bottom: 0.26666666666666666rem;
    border-top: 1px solid #f2f2f2;
    background: #fff;
}
.pa-list li:last-child {
    margin-bottom: 0;
}
.pa-item {
    position: relative;
    z-index: 2;
    padding: 0.4rem 0.26666rem 0.4rem 2.13333rem;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
.pa-item > img {
    position: absolute;
    left: 0.26666rem;
    top: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;
}
.pa-item .text {
    font-size: 14px;
    line-height: 0.53333rem;
    margin-top: 0.186666rem;
}
.pa-item .title {
    font-size: 16px;
}
.pa-buttons {
    padding: 0.26666rem;
    line-height: 0.746666rem;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    text-align: right;
}
.pa-btn {
    display: inline-block;
    margin: 0 0.13333rem;
    line-height: 0.693333rem;
    width: 2.29333rem;
    height: 0.693333rem;
    text-align: center;
    font-size: 14px;
    color: #666;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}
.hi-header {
    position: relative;
    padding: 0.32rem;
    line-height: 0.533333rem;
    text-align: center;
    background: url("/static/img/user-bg.jpg");
    background-size: cover;
    color: #fff;
    font-size: 16px;
}
.hi-header > img {
    display: inline-block;
    width: 2.66666rem;
    height: 2.66666rem;
    border-radius: 50%;
}
.hi-header p {
    margin: 0.266666rem 0.266666rem 0;
}
.hi-header > p:last-child {
    font-size: 14px;
}
.hi-hobby {
    padding: 0.2666666666rem;
    line-height: 0.533333333rem;
    font-size: 16px;
    background: #fff;
}
.hi-hobby .borer{
    float: left;
    margin-right: 0.266666666rem;
    width: 0.1066666666rem;
    height: 0.533333333rem;
    border-radius: 0.053333333rem;
    background: #2bd3b2;
}
.hi-hobby > div {
    margin-left: 0.37333333333333335rem;
    overflow: hidden;
}
/*authentication css*/
.au-header {
    padding: 0.4rem 0.32rem;
    color: #999;
    font-size: 16px;
}
.au-list {
    font-size: 16px;
}
.au-item {
    padding: 0.26666rem 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #f2f2f2;
}
.au-item > span:first-child {
    padding-right: 0.26666rem;
}
.au-item input {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    border: none;
}
.au-point {
    position: absolute;
    right: 0;
    top: -1.06666rem;
    padding: 0.21333rem 0.44817rem;
    border-radius: 0.10666rem;
    white-space: nowrap;
    font-size: 13px;
    line-height: 0.53333rem;
    color: red;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.au-point:after {
    content: '';
    position: absolute;
    bottom: -0.10666px;
    right: 0.53333rem;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid #fff;
}
.au-point:before {
    content: '';
    position: absolute;
    bottom: -0.12rem;
    right: 0.54666rem;
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid #fff;
}
.au-btn {
    display: block;
    margin: 1.17333rem auto 0.53333rem;
    width: 90%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
    border-radius: 1.17333rem;
}
.au-success > img {
    display: block;
    margin: 2.2133333333333334rem auto 0.88rem;
    width: 5.96rem;
    height: 3.84rem;
}
.au-success .name {
    padding-top: 0.6933333333333334rem;
    padding-bottom: 0.3333333333333333rem;
}
.apply-bg {
    height: 100%;
    background: url("/static/img/apply-bg.jpg") no-repeat;
    /*background-position: center;*/
    background-size: 100% 100%;
}
.apply-group-button,
.apply-other-button {
    position: absolute;
    bottom: 0.666666666666666666rem;
}
.apply-group-button {
    left: 0.26666666666666666rem;
}
.apply-other-button {
    right: 0.26666666666666666rem;
}
.apply-group-button > img,
.apply-other-button > img{
    display: block;
    width: 4.56rem;
    height: 2.1333333333333333rem;
}
.ag-success img {
    display: block;
    margin: 2.2133333333333334rem auto 0.88rem;
    width: 5.96rem;
    height: 4.306666666666667rem;
}
.ag-success .text {
    padding-bottom: 0.6933333333333334rem;
}
.ag-success .name {
    padding-bottom: 0.3333333333333333rem;
}
.ag-text {
    padding: 0.4rem 0.32rem;
    color: #999;
    font-size: 16px;
}
.ag-list {
    font-size: 16px;
}
.ag-item {
    padding: 0.26666rem 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #f2f2f2;
}
.ag-item > span:first-child {
    padding-right: 0.26666rem;
}
.ag-item input {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    border: none;
}
.ag-add-content {
    text-align: center;
}
.ag-add-content img {
    padding: 1.2rem;
    width: 0.6666666666666666rem;
    height: 0.6666666666666666rem;
    border: 1px solid #ddd;
}
.ag-image {
    position: relative;
    margin: 0.26666rem 0.32rem;
    border: 1px solid #ddd;
}
.ag-image img {
    display: block;
    width: 100%;
    max-height: 200px;
}
.ag-slide {
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
}
.ag-slide img {
    display: block;
    width: 100%;
    height: 4.8rem;
}
.ag-add img,
.ag-delete img {
    position: absolute;
    top: 0.26666rem;
    padding: 0.13333rem;
    width: 0.53333rem;
    height: 0.53333rem;
    background: #fff;
    opacity: 0.9;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all .4s;
    z-index: 1;
}
.ag-add img {
    left: 0.26666rem;
}
.ag-delete img {
    right: 0.26666rem;
}
.ag-btn {
    display: block;
    margin: 0 auto 0.53333333333333333rem;
    width: 90%;
    height: 1.17333333333333rem;
    line-height: 1.17333333333333rem;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: #fff;
    background: #2bd3b2;
    border: 1px solid #2bd3b2;
    border-radius: 1.17333rem;
}
.ag-btn.active {
    color: #2bd3b2;
    background: #fff;
    border: 1px solid #2bd3b2;
}
.evaluate-content {
    padding: 0.4rem 0.32rem;
}
.evaluate-mark-content {
    font-size: 16px;
    color: #999;
}
.evaluate-mark-content .row {
    padding: 0.4rem 0.32rem;
    height: .5333333333333333rem;
}
.evaluate-mark-content .text {
    width: 2.1333333333333333rem;
    line-height: 0.6133333333333333rem;
}
.evaluate-mark-content .mark img {
    display: inline-block;
    margin: 0 0.1rem;
    vertical-align: middle;
    width: .5333333333333333rem;
}
.evaluate-content-area {
    position: relative;
    margin: 0 0.32rem 0.4rem;
    padding: 0.26666666666rem 0.26666666666rem 0.533333333333rem;
    border: 1px solid #ddd;
}
.evaluate-content-area textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    border: none;
    resize: none;
}
.evaluate-content-area .point {
    position: absolute;
    right: 0.26666666666rem;
    bottom: 0.2666666666rem;
}
.evaluate-content-tag {
    margin: 0 0.4rem;
}
.evaluate-content-tag .row {
    margin: .266666666666rem 0;
}
.evaluate-content-tag .col{
    position: relative;
    line-height: 0.8rem;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    color: #999;
}
.evaluate-content-tag .col.active {
    border: 1px solid #2bd3b2;
    color: #2bd3b2;
}
.evaluate-content-tag .col img {
    position: absolute;
    top: 0.13333333333333333rem;
    right: .1333333333333333rem;
    width: .533333333333rem;
}
.about-logo {
    display: inline-block;
    margin: 0.8rem auto 0.4rem;
    width: 2.13333rem;
    height: 2.13333rem;
    border-radius: 50%;
}
.about-bg {
    height: 100%;
    background: url("/static/img/about-bg.png");
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
/*infinite loading*/
.infinite-spinner {
    padding: 0.266666rem;
}
.infinite-spinner > img {
    display: inline-block;
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
}
.infinite-spinner > .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #999;
}
.infinite-status-prompt {
    padding: 0.266666rem !important;
    line-height: 0.666666rem;
    font-size: 16px !important;
    color: #999 !important;
}
/*---------------------map CSS-----------------------*/
.amap-logo {
    display: none !important;
}
.amap-copyright {
    display: none !important;
}
.amap-marker-label {
    font-size: 13px;
    border: 1px solid #2bd3b2;
    background: #fff;
    border-radius: 10px 0 0 0;
    color: #2bd3b2;
}
.amap-ui-control-theme-m {
    right: 0.32rem !important;
}
.amap-ui-control-theme-m .amap-ui-control-zoom {
    width: 0.85333rem !important;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.42666rem;
}
.amap-ui-control-theme-m .amap-ui-control-zoom > a {
    width: 0.85333rem !important;
    font-size: 20px !important;
    color: #2bd3b2 !important;
    height: 1.17333rem !important;
    line-height: 1.17333rem !important;
}
.amap-ui-control-theme-m .amap-ui-control-zoom > a:first-child {
    border-bottom: 1px solid #f2f2f2;
}
.amap-sug-result {
    z-index: 1000;
}
/*---------------------outer-components CSS-----------------------*/
.swiper-pagination-bullet {
    opacity: 1 !important;
    background: #fff !important;
}
.swiper-pagination-bullet-active {
    background: #FF5722 !important;
}
.pull-down-header {
    background-color: inherit !important;
    border-bottom: 1px solid #f2f2f2;
}
.pull-down-content--icon.pull-down-refresh {
    background: url("/static/img/hourglass.gif") !important;
    background-size: 20px 20px !important;
}
.pull-down-content {
    color: #666 !important;
}
